<div class="container mt-5">
  <h1><%= @list.name %></h1>
  <% @list.bookmarks.each do |bookmark| %>
    <h5><%= bookmark.comment %>
      <%= bookmark.movie.title %>
    <%= link_to 'delete', bookmark_path, method: 'delete' %>
    </h5>
  <% end %> <br>


  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, input_html: { class: 'select2' } %>
  <%= f.submit %>
  <% end %>


  <%= simple_form_for [@list, @review] do |f| %>
      <%= f.input :comment %>
      <%#= f.select :rating, collection: Review::RATING %>
      <fieldset class="rating">
        <legend>Please rate:</legend>
        <%=f.radio_button :rating, 5, :id => "star5" %><label for="star5" title="Excellent!">5 Stars</label>
        <%=f.radio_button :rating, 4, :id => "star4" %> <label for="star5" title="Good!">4 Stars</label>
        <%=f.radio_button :rating, 3, :id => "star3" %> <label for="star3" title="Average!">5 Stars</label>
        <%=f.radio_button :rating, 2, :id => "star2" %> <label for="star5" title="Poor!">2 Stars</label>
        <%=f.radio_button :rating, 1, :id => "star1" %> <label for="star1" title="Very Poor!">1 Stars</label>
      </fieldset>
  <% end %>


  <%= link_to 'back', lists_path, class: "btn btn-primary" %>


</div>
