<div class="container mt-5">
  <h1><%= @list.name %></h1>
  <% @list.bookmarks.each do |bookmark| %>
    <h5><%= bookmark.comment %>
    <%= link_to 'delete', bookmark_path, method: 'delete' %>
    </h5>
  <% end %> <br>
  <%= link_to 'create a bookmark', new_list_bookmark_path(@list) %>
  <%= link_to 'back', lists_path %>
</div>
