<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80);">
  <div class="container">
    <h1 class="text-center"><%= @list.name %></h1>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row justify-content-between">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-4">
        <div class="card " style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title%> • <%= @review.rating %></h5>
          <p class="card-text"><%= bookmark.comment %></p>
          <%= link_to 'delete', bookmark_path(bookmark), method: 'delete', class: "delete_link" %>
        </div>
      </div>
    <% end %> <br>
  </div>

  <div class="border-top">
    <h2 class="mt-3">Add a bookmark</h2>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie, input_html: { class: 'select2' } %>
      <%= f.submit %>
    <% end %>
  </div>

  <div class="border-top mt-3">
    <div class="row d-flex justify-content-between">
      <div class="col-6">
        <div class="mt-4">
          <h2>Reviews</h2>
          <ul class="list-group list-group-flush">
            <% @list.reviews.each do |review| %>
              <li class="list-group-item p-0 review">
                <% review.rating.times do %>
                  <i class="fas fa-star"></i>
                <% end %> <br>
                <h5><%= review.comment %>
                </h5>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-6">
        <div id="review_form" class="mt-4">
          <h2>Add your review</h2>
          <%= simple_form_for [@list, @review] do |f| %>
              <%= f.input :comment %>
              <div class="form-group">
                <fieldset class="rating">
                  <%=f.radio_button :rating, 5, :id => "star5" %><label for="star5" title="Excellent!">5 Stars</label>
                  <%=f.radio_button :rating, 4, :id => "star4" %> <label for="star4" title="Good!">4 Stars</label>
                  <%=f.radio_button :rating, 3, :id => "star3" %> <label for="star3" title="Average!">3 Stars</label>
                  <%=f.radio_button :rating, 2, :id => "star2" %> <label for="star2" title="Poor!">2 Stars</label>
                  <%=f.radio_button :rating, 1, :id => "star1" %> <label for="star1" title="Very Poor!">1 Stars</label>
                </fieldset>
                <%=f.submit class: "btn btn-success text-white"%>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <%= link_to 'back', lists_path, class: "btn btn-primary mt-3" %>


</div>
